<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for repitsocial	</title>
	<atom:link href="https://repitsocial.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://repitsocial.com</link>
	<description>We don&#039;t say it. We REP IT!</description>
	<lastBuildDate>Tue, 28 Sep 2021 10:56:15 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.2</generator>
</channel>
</rss>
